
body{
  background-color: white;


}
body a{
  font-size: 15px;
}


nav{
  display: block;
  color: white;
  background-color: black;

}
nav ul{
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}

nav a{
  color: #d3d9e2;
  text-decoration: none;
  hover color: red;
  display: block;
  text-align: center;
  padding: 10px;

}
nav a:hover{
  color: red;

}
@media screen and (min-width: 768px) {
  nav ul{
  display: flex;
  justify-content: space-around;
  }
  nav li{
    //flex: 1 1 0;
  }

}

nav img{
  padding-top: 5px;
}
.banners{

  display: flex;
align-items: center;
}
.main-publi-top{
  height: 90px;
  width: 728px;
  background-color: #aeb0b2;
  margin-left: 30%;
  margin-bottom: 5PX;

}

.banner-home{
display: flex;
align-items: center;
}
.main-banner{
display: flex;
margin-left: 40%;
}
.small-banner-1{
  width: 100%;
 margin-top: -90px;
 padding: 5px;

}
.small-banner-2{
  width: 100%;
  margin-top: 17%;
  margin-left: -20%;
  padding: 5px;



}
h1{
  color: red;

}
hr{
  width: 30%;
  height: 02px;
  background-color: red;
  margin-left: 0;
  margin-bottom: 10px;
  border-top: 0px;
}
h2{
  margin-top: 0px;
  font-size: 25px;
  color: red;
}
.content{
width: 70%;

}

.card-game{
display: flex;
justify-content:center;
}
@media (min-width:768px) {


.last-review{
  padding-left: 55px;
  display: flex;

}

.nintendo-switch{
  width: 90%;
  margin-left: 50px;
}

/* card de destaque rocket-league */
.rocket-league{
  padding: 2px;

}
.img-last-review{
  width: 150px;
  flex-wrap: wrap;

}
.stars-home{
  display: flex;
  padding-left: 155px;
  padding-right: 2px;
  margin-top: -155px;
}

.info-game-home{
  padding-left: 155px;
}


.text-preview{
  margin-left: -155px;
  margin-top: 40px;

  display: flex;
}
.second-column-switch{
  margin-top: 80px;
}
.first-column-switch p{
margin-top: px;

}

/*rocket-league*/
.rocket-league{
  width: 90%;
}
.mario-kart{
  width: 90%;

}
/* Dandara */
.dandara{

width: 90%;
}
/*xenoblade*/
.xenoblade{

width:90%;
}
.img-last-review{
  height: 150px;
}


.nintendo-switch{
  display: flex;
}
.text-preview{
  display: flex;

}
.dont-starve-switch{
  display: flex;
}
}

/*footer*/
.footer{
  background-color: black;
  margin-top: 5px;
  height:100%;

  padding-top: 20px;


  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;


}
.footer a{
  color: white;
}

.footer h4{
  color:white;
}
